<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Dynamic Search</h2>
                <p>Develop algorithms and evaluation methodologies with the user in the search loop</a></p>
                <ul class="actions">
                    <li><a href="http://clef2018-labs-registration.dei.unipd.it/" class="button big special">CLEF 2018 Registration</a></li>
                    <li><a href="https://ekanou.github.io/dynamicsearch/clef-lab.html" class="button big alt">CLEF Dynamic Search Lab</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
