<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Dynamic Search</h2>
                <p>Develop algorithms and evaluation methodologies with the user in the search loop</a></p>
                <ul class="actions">
                    <li><a href="" class="button big special">CLEF 2017 Registration</a></li>
                    <li><a href="#lab" class="button big alt">CLEF Dynamic Search Lab</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
